## Typescript q2g Files
*.map
*.css
src/extension/**/*.js
dist/*.d.ts

## Typescript q2g Folders
node_modules/
dist/

## Standard vccode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json