<ng-template #treeViewItem let-item="item">
    <div class="baseContainerRow list-item" ngClass="selectionState-{{item.selectionState}}" (click)="itemClick(item)">
        <span class="colspan" [style.padding-left.px]="item.colNumber*15"></span>
        <i class="expandIcon" *ngIf="!item.isLast"
            [ngClass]="[item.hasChild ? 'lui-icon lui-icon--minus' : 'lui-icon lui-icon--plus']"
            (click)="expandCollapseItem(item); $event.stopPropagation()">
        </i>
        <span class="list-item-lable">
            <span class="item-label">{{item.label}}</span>
            <i [ngClass]="[item.icon !== 'none' ? 'lui-icon lui-icon--' + item.icon : '']"></i>
        </span>
        <span class="item--measure">{{item.measureValue!=="-"?item.measureValue:""}}</span>
    </div>
</ng-template>

<div class="extensionHeader">
    <davinci-search [placeholder]="'Search'" (changed)="onSearch($event)"></davinci-search>

    <div class="list-header" *ngIf="listSource">
        <span *ngFor="let head of listSource.getHeader()" (click)=scrollTo(head)>
            {{head.label}}
        </span>
    </div>

    <davinci-responsive-menu>
        <davinci-icon class="buttonIcon" buttonType="danger" icon="close" [isActive]="true" (click)="cancel()">
        </davinci-icon>
        <davinci-icon class="buttonIcon" buttonType="success" [isActive]="true" lable="{{inSearch}}" (click)="accept()">
        </davinci-icon>
    </davinci-responsive-menu>
</div>


<!-- we require an item size to know how big an item will be-->
<davinci-listview (selectItem)="onSelectItem($event)" [dataSource]="inSearch?listSource2:listSource"
    [listAlign]="listAlign" [splitAlign]="splitAlign" [itemSize]="itemSize" [cols]="splitCols"
    [itemTemplate]="isTree ? treeViewItem : null">
</davinci-listview>