<ng-template #treeViewItem let-item="item">

    <span class="colspan" [style.padding-left.px]="item.colNumber*15"></span>

    <i *ngIf="!item.isLast" [ngClass]="[item.hasChild ? 'lui-icon lui-icon--minus' : 'lui-icon lui-icon--plus']"
        (click)="expandCollapseItem(item)">
    </i>

    <span *ngIf="item; else empty" (click)="itemClick(item)" class="list-item"
        [ngClass]="[item && item.state !== 'none' ? item.state : '']">

        <span class="item-label">{{item.label}} - {{item.hasChild}}</span>
        <i [ngClass]="[item.icon !== 'none' ? 'lui-icon lui-icon--' + item.icon : '']"></i>

    </span>

    <span class="item--measure">{{item.measureValue}}</span>

</ng-template>

<davinci-search [placeholder]="'Search'" (changed)="onSearch($event)"></davinci-search>

<!-- we require an item size to know how big an item will be-->
<davinci-listview [dataSource]="listSource" [orientation]="!orientation ?'vertical':'horizontal'" [itemSize]=30 [cols]=1
    [itemTemplate]="isTree ? treeViewItem : null">
</davinci-listview>